*{
    width: 100%;
}
.col button{
    width: 150px;
}
.col button img{
    width: 40px;
}
.col ul{
    list-style-type: none; 
}
.col ul li a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.col ul li a:hover{
    color: blue;
}
@media(max-width: 768px){
        main .part img{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }